@charset "utf-8";
body,td,th {
	margin: 0px;
	padding: 0px;
	color:#333333;
	font:11px/18px Arial, Helvetica, sans-serif;

}

a:link {
	color: #0066CC;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0066FF;
}
a:hover {
	text-decoration: none;
	color: #009900;
}
a:active {
	text-decoration: none;
}
img{border:0px;}
input, textarea {
	font:11px Arial, Helvetica, sans-serif;
	color:#404040;
}
.style_botton{color:#666;font:11px/16px Arial, Helvetica, sans-serif;background: url(../images/button.png) no-repeat left top;width:65px;height:21px;border:none;margin:0px 2px;text-align:center;padding:1px 1px 2px 1px;margin:1px 1px 0px 1px;cursor: pointer;}
.style_botton2{color:#666;font:11px/16px Arial, Helvetica, sans-serif; background: url(../images/button2.png) no-repeat left top;width:95px;height:21px; border:none;margin:0px 2px; text-align:center;padding:1px 1px 2px 1px; margin:1px 1px 0px 1px;cursor: pointer;}
.style_botton3{color:#666;font:11px/16px Arial, Helvetica, sans-serif; background: url(../images/button3.png) no-repeat left top;width:150px;height:21px; border:none;margin:0px 2px; text-align:center;padding:1px 1px 2px 1px; margin:1px 1px 0px 1px;cursor: pointer;}
.style_botton4{color:#666;font:11px/16px Arial, Helvetica, sans-serif; background: url(../images/button4.png) no-repeat left top;width:127px;height:21px; border:none;margin:0px 2px; text-align:center;padding:1px 1px 2px 1px; margin:1px 1px 0px 1px;cursor: pointer;}
.style_botton5{color:#666;font:11px/16px Arial, Helvetica, sans-serif; background: url(../images/button5.png) no-repeat left top;width:30px;height:21px; border:none;margin:0px 2px; text-align:center;padding:1px 1px 2px 1px; margin:1px 0px 0px 0px;cursor: pointer;}
.style_botton6{
	color:#666;
	font:11px/16px Arial, Helvetica, sans-serif;
	width:180px;
	height:21px;
	border:none;
	margin:0px 2px;
	text-align:center;
	cursor: pointer;
	background: url(../images/button6.jpg) no-repeat left top;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}

label {
	cursor:pointer;
	padding-left:2px;
	line-height:16px;
}
label.chosen {color:#333;}
optgroup {
	background-color: #CCCCCC;
	color:#000;
}
option {
	background-color: #FFFFFF;
}
select {
	width:131px;
	border:1px solid #A7AAB9;
	margin:0px 2px;
	padding: 0px;
	font-size:96%;
	height:18px;
	line-height:17px;
	background-image: url(../images/textarea_bg.gif);
	z-index:10;
}

select>option {
 text-indent: 2px; 
}
.disable_font{color:#888;}
.important {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}

.content {
	background-color:#eef2fd;
	margin: 0px;
	padding: 0px;
	font:11px/18px Arial, Helvetica, sans-serif;
}



.scm {
	padding: 0px;
	background-color: #EEF2FD;
	font:11px/18px Arial, Helvetica, sans-serif;
	
}
.scm p {
	margin: 6px 20px;
	font:11px/24px Arial, Helvetica, sans-serif;
}
.scm li {
	font:11px/20px Arial, Helvetica, sans-serif;
	margin: 10px 20px 10px 30px;
}

fieldset {
	margin: 0px 20px 20px 20px;
}
legend {
	font: bold 11px/16px Arial, Helvetica, sans-serif;
	color: #426BBB;
	padding: 5px;
}
.content .scm .search_box .single_search {
	padding: 27px 0px 28px 0px;
	font-weight: normal;
}

.content .scm .search_box .single_search_css {
	padding: 27px 0px 39px 0px;
}

.content .scm .search_box .single_search_css_anlu {
	padding: 20px 0px 30px 0px;
	font-weight: normal;
}
.content .scm .search_box .single_search .General_table {
	margin: 0px;
	padding: 0px;

}

.content .scm  fieldset {
	margin: 11px 0px 0px 0px;
	padding: 0px 10px;
	border:1px solid #cccccc;
}
.content .scm  legend {
	margin:0px;
	padding:0px 5px;
}
.content .scm .title_content {
	background:url(../images/title_top.gif) repeat-x left top;
	height: 33px;
	margin: 0px;
	padding: 0px 10px;
	font:bold 16px/33px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #cccccc;
	
}
.content .scm .title_content .title {
	background:url(../images/title_bgewe.jpg) no-repeat left center;
	padding-left: 20px;
	color: #5579A6;
	
}
.content .scm .title_content .title_new {
	/*background:url(../images/title_bgewe.jpg) no-repeat left center;*/
	padding-left: 3px;
	color: #5579A6;
	_padding-top:8px;
}
.content .scm .title_content .title_new table td{
	/*background:url(../images/title_bgewe.jpg) no-repeat left center;*/
	
	color: #5579A6;
	font-size: 16px;
	font-weight: bold;	
}

.content .scm .title_content .title table td{
	/*background:url(../images/title_bgewe.jpg) no-repeat left center;*/
	
	color: #5579A6;
	font-size: 16px;
	font-weight: bold;	
}

.content .scm .title_content .title_new img{
	vertical-align:middle;
	
}
.content .scm .input_box {
	margin: 0px;
	padding:10px 0px 10px 10px;
	border-top: 1px solid #FFFFFF;
	background-color: #EEF2FD;
	
}
.content .scm .input_box .order_message {
	margin:0px 0px 10px 0px;
	padding:3px 0px;
}
.content .scm .input_box .order_message .title_message {
	color: #013E97;
	font-size: 18px;
}
.content .scm .input_box .order_message a {
	font-weight: normal;
	padding: 0px 3px;
}



.content .scm .input_box .content_box {
	padding: 0px;
	margin: 0px;
}
.content .scm .search_box {
	border-bottom: 4px solid #C2D5FC;
	background:#D5E6F6 url(../images/order_search2q3.jpg) no-repeat left top;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 120px;
	
}


.content .scm .search_box_tab {
	border-bottom: 4px solid #C2D5FC;
	background:#D5E6F6 url(../images/order_search2q3.jpg) no-repeat left top;
	font-weight: bold;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 120px;
}



.content .scm .search_box_two {
	padding-top: 10px;
	height:74px;
}
.content .scm .search_box_two_anlu {
	padding-top: 10px;
	height:74px;
}


.content .scm .search_box_three {	
	height:84px;
}

.content .scm .search_box .search_order {
	font:bold 18px/22px Arial, Helvetica, sans-serif;
	color: #5574A0;
	padding: 18px 0px 1px 0px;
}
.content .scm .input_box form {
	margin: 0px;
	padding: 0px;
}

.content .scm .input_box .ship_all {
	padding-top: 15px;
	margin: 4px;
	text-align: center;
}
.content .scm .input_box .ship_all input {
	margin: 3px;
}




.NFText {
	background: url(../images/input.jpg) repeat-x left top;
	height: 16px;
	border: 1px solid #A7AAB9;
	/*border: 1px solid #F00;*/
	color: #666666;
	font:11px/15px Arial, Helvetica, sans-serif;
	margin:0px 2px;
	padding: 0px 3px;	
}
.ui-datepicker {
	background: url(../images/input.jpg) repeat-x left top;
	height: 16px;
	border: 1px solid #A7AAB9;
	color: #666666;
    font:11px/15px Arial, Helvetica, sans-serif;
	margin:0px 2px;
	padding: 0px 3px;
}
.NFText2 {
	background: url(../images/input.jpg) repeat-x left top;
	height: 16px;
	border: 1px solid #A7AAB9;
	/*border: 1px solid #F00;*/
	font:11px/15px Arial, Helvetica, sans-serif;
	color: #666666;
	text-align:right;
	margin:0px 2px;
	padding: 0px 3px;
}
.NFText3 {
	height: 16px;
	border: 1px solid #A7AAB9;
	font:11px/15px Arial, Helvetica, sans-serif;
	color: #666666;
	margin:0px 2px;
	padding: 0px 3px;
	background-color: #E7E8EB;
}
.content_textarea{
	background-image: url(../images/textarea_bg.gif);
	border: 1px solid #A7AAB9;
	margin: 0px 2px;
	padding: 4px;
	height: 30px;
	width: 375px;
}
.content_textarea2{
	background-image: url(../images/textarea_bg.gif);
	border: 1px solid #A7AAB9;
	margin: 0px 2px;
	padding: 4px;
	height: 30px;
	width: 400px;
}
/*add by zhanghuibin div显示为textarea*/
div.terms {
    background-image: url(../images/textarea_bg.gif);
	width:400px;
	height:30px;
	border:1px solid #A7AAB9;
	/*background:#f2f2f2;*/
	padding:4px;
	overflow:auto;
}

.content_textarea3{
	background-image: url(../images/textarea_bg.gif);
	border: 1px solid #A7AAB9;
	padding: 4px;
	height: 80px;
	width: 800px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
}

.content .scm .input_box .num_select {
	width: 35px;
}

/* .content .scm .order_search {
	background: url(../images/order_search22.jpg) no-repeat left 12px;
	color: #333333;
	margin: 0px;
	height:290px;
	padding: 35px 12px 5px 18px;
}
.content .scm .order_search .order_date {
	font-weight: bold;
	color: #234F85;
}
.content .scm .order_search td {
	padding:4px 2px;
}

 */

 .order_search {
	background: url(../images/order_search22.jpg) no-repeat left 12px;
	color: #333333;
	margin: 0px;
	height:290px;
	padding: 35px 12px 5px 18px;
}
.order_date {
	font-weight: bold;
	color: #234F85;
}
 .order_search td {
	padding:4px 2px;
}

.content .scm .address_box {
	background: url(../images/address_box.gif) no-repeat left top;
	margin:15px 5px 5px 5px;
	padding: 0px 5px 5px 5px;
	width: 285px;
	height: 189px;
	color: #0E2563;
	float:left;
}
.content .scm .line_Notes {
	margin: 0px 0px 15px 0px;
	height: 1px;
	border-top: 1px  solid #cccccc;
	padding: 0px;
	background: url(../images/customer_bg.gif) repeat-x;
}
.content .scm .line_Notes ol {
	padding: 0px;
	margin: 2px;
	list-style-type: disc;
}
.botton_box {
	text-align: center;
	padding: 5px 0px;
}

.red_font {
	color: #990000;
	font:11px  Arial, Helvetica, sans-serif;
}

.content .scm .title_content .title .order_id {
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	padding-left: 11px;
}
.content .scm .ship_title {
	font:bold 13px/18px  Arial, Helvetica, sans-serif;
	color: #990000;
	text-align: center;
	height:24px;
	padding-top: 4px;
}
.content .scm .input_box .ship_box {
	background-color: #FFFFFF;
	height: 280px;
}
.content .scm .Expand {
	margin: 10px 0px 5px 0px;
}
.content .scm  #receiving {
	margin: 10px 0px;
}
.content .scm .receiving_list {
	display: none;
	padding: 10px 10px 10px 18px;
}

.content .scm .list_table .Tracking_num {
	float: left;
	width: 110px;
	text-align:left;
}
.content .scm .input_box .content_box .list_table img {
	padding:0px 1px;
}
.list_table td img {
	vertical-align:middle;
	margin-left:2px;
	margin-right:2px;
	display:inline;
}
.invoice_title {
	margin: 10px 0px;
	padding: 5px;
	border-bottom: 2px solid #C2D5FC;
	color: #5579A6;
	font:bold 14px Arial, Helvetica, sans-serif;
}

.content .scm .input_box .scm_title {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #0066CC;
	padding: 10px 0px;
}
/*Paging Start*/
.grayr {
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Arial, Helvetica, Sans-serif;
	text-align: right;
	padding: 2px;
	margin-top: 5px;
}
.grayr A {
   padding:2px 5px;
	MARGIN: 2px;
	COLOR: #2E6AB1;
	TEXT-DECORATION: none;
	border: 1px solid #9AAFE5;
}
.grayr A:hover {
	COLOR: #000; BACKGROUND-COLOR: #99ffff
}
.grayr A:active {
	COLOR: #000; BACKGROUND-COLOR: #99ffff
}
.grayr SPAN.current {
	FONT-WEIGHT: bold;
	MARGIN: 2px;
	padding:2px 5px;
	COLOR: #FFFFFF;
	BACKGROUND-COLOR: #2E6AB1;
	border: 1px solid #7DABE3;
}
.grayr SPAN.disabled {
	padding:2px 5px;
	MARGIN: 2px;
	COLOR: #797979;
	BACKGROUND-COLOR: #CDCDCD;
	border: 1px solid #CCCCCC;
}

.blue_price {
	font:bold 12px/24px Arial, Helvetica, sans-serif;
	color: #234F85;
}
.General_table .title_area {
	font:bold 14px/28px Arial, Helvetica, sans-serif;
	color: #5579A6;
	text-align: center;
	background:#E1EAFF url(../images/th_bg3.jpg) repeat-x;
}
.content .scm .history_td {
	color:#0066FF;
	padding: 2px 4px;
}
.list_box {
	height:320px;
	overflow:scroll;
	margin-right:0px;
	*margin-right:0px;
	_margin-right:17px;
}
.tab_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #315498;
	padding: 4px;
}

.button_box {
	text-align: center;
	font:11px/18px Arial, Helvetica, sans-serif;
	padding:55px 4px 10px 4px;
	*padding:55px 4px 10px 4px;
	_padding:4px 4px 10px 4px;
	margin: 0px;
	width:998px;
}
.content .scm .item_no {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #17902F;
	padding-left: 6px;
}
 .search_input {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	margin:1px;
	padding: 0px;
	height: 25px;
	width: 100px;
	border-style: none;cursor: pointer;
	background: url(../images/input_searchbg.jpg)  no-repeat 0px 3px;
}

 .search_input1 {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	margin:1px;
	padding: 0px;
	height: 25px;
	width: 120px;
	border-style: none;
	cursor: pointer;
	background: url(../images/input_searchbg2.jpg) no-repeat 0px 3px;
	display:inline;
}

 .search_input2 {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	margin:1px;
	padding: 0px;
	height: 25px;
	width: 140px;
	border-style: none;cursor: pointer;
	background: url(../images/input_searchbg2.gif)  no-repeat 0px 3px;
}

 .search_input3 {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	margin:1px;
	padding: 0px;
	height: 25px;
	width: 170px;
	border-style: none;cursor: pointer;
	background: url(../images/input_searchbg3.gif)  no-repeat 0px 3px;
}
 .search_input4 {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	margin:1px;
	padding: 0px;
	height: 25px;
	width: 200px;
	border-style: none;cursor: pointer;
	background: url(../images/input_searchbg4.gif)  no-repeat 0px 3px;
}
 .search_inputr {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	margin:1px;
	padding: 0px;
	height: 25px;
	width: 170px;
	border-style: none;cursor: pointer;
	background: url(../images/input_searchbg3.gif)  no-repeat 0px 3px;
}



 .search_input_gray {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #555;
	margin:1px;
	padding: 0px;
	height: 25px;
	width: 100px;
	border-style: none;
	background: url(../images/gray_search.jpg)  no-repeat 0px 3px;
}
.content .scm .frame_box {
	height: 268px;
	width: 972px;
	overflow:scroll;
	margin: 0px;
}
.content .scm .frame_box2 {
	height: 245px;
	width:712px;
	overflow:scroll;
	margin: 0px;
}
 .frame_box3 {
	height: 110px;
	width:977px; overflow:scroll;
	margin: 0px;
	font:11px/18px Arial, Helvetica, sans-serif;
}
.frame_box4  {
	height: 180px;
	width:977px;
	overflow:scroll;
	margin: 0px;
	font:11px/18px Arial, Helvetica, sans-serif;
}

.frame_box6  {
	height: 180px;
	width:937px;
	overflow:scroll;
	margin: 0px;
	font:11px/18px Arial, Helvetica, sans-serif;
}

.frame_box12 {
	height: 180px;
	width: 930px;
	overflow: scroll;
	margin-bottom:15px;
}
.frame_box13 {
	height: 180px;
	width: 930px;
	overflow: scroll;
	margin-bottom:15px;
}
.frame_pr {
	height: 300px;
	width: 957px;
	overflow: scroll;
}
.frame_pr2 {
	height: 105px;
	width: 957px;
	overflow: scroll;
}

.content .scm .input_box .content_box .frame_box5{width:997px;height:110px; *height:113px;_height:113px; overflow-y:scroll;}
.content .scm .general_box {
	font-weight: bold;
	margin: 5px;
	height: 70px;
	border: 1px solid #CCCCCC;
	vertical-align: middle;
	padding: 2px;
}
.content .scm .address_box p {
	line-height: 30px;
}
.content .scm .address_box .address_content {
	height: 105px;
	line-height: 24px;
	color: #333333; vertical-align:middle;
	padding:10px 10px 10px  20px;
}
.content .scm  .address_box .address_title {
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	text-align:center;
	height: 34px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.content .scm  .address_box .address_title .address_td {
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color:#0E2563;
}
.content .scm  .address_box .address_title select{font-size:11px;}
.content .scm .address_box .address_botton {
	text-align: right;
	padding-right: 20px;
}
.content .scm .address_box .address_title .single_address {
	height: 16px;
	padding: 0px;
	float: left;
	width: 24px;
	margin-top: -3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.content .scm #dhtmlgoodies_tabView1 .dhtmlgoodies_aTab .address_box .address_title .address_font {
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	height: 16px;
	line-height: 15px;
	text-align: left;
	width: 170px;
	float: left;
	padding: 0px;
	margin: 0px;
	
}





.content .scm #dhtmlgoodies_tabView1 .dhtmlgoodies_aTab .General_table .gift_td {
	padding: 0px 10px;
}
.other_message {
	font:bold 14px Arial, Helvetica, sans-serif;
	color: #444555;
	padding-left:18px;
}
.content .input_box .note_box {
	background: url(../images/note_bg.gif)  no-repeat left top;
	height: 170px;
	padding-top: 42px;
	padding-left: 120px;
	font:bold 13px Arial, Helvetica, sans-serif;
	color: #707070;
}
.main_box{position:absolute;display:none;text-align:center;width:0px;height:0px;overflow:visible;}

#funcation_name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2C5B8F;
}
.files_kinds {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.content .scm .input_box #exce3 .java_app {
	font: 12px Arial, Helvetica, sans-serif;
	color: #0066CC;
	background-color: #E2EEFA;
	padding: 3px;
	margin: 5px 10px 5px 0px;
	border: 1px solid #9DC6EE;
}
.content .scm .input_box .Exception_style {
	font-weight: bold;
	margin:3px 5px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.content .scm .input_box .Exception_style a {
	padding-right: 5px;
}
.content .scm .input_box .content_box .new_item {
	text-align: center;
	padding: 3px;
	width: 991px;
}

.interest {
	padding: 0px;
	margin-left: 20px;
	height: 68px;
	width: 930px; overflow-y:auto;
}
.interest ul{padding: 0px;
	list-style-type: none;
	margin: 0px;}
 .interest li {
	float: left;
	width: 300px;
	margin: 0px;
	padding: 0px;list-style-type: none;
}
.interest2 {
	padding: 0px;
	margin:5px 0px 10px 20px;
	height: 118px;
	width: 590px; overflow-y:auto;
}
.interest2 ul{padding: 0px;
	list-style-type: none;
	margin: 0px;}
 .interest2 li {
	float: left;
	width: 280px;
	margin: 0px;
	padding: 0px;list-style-type: none;
}
.showelement {
	width: 20px;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
}
.general_boxnew {
	font-weight: bold;
	margin: 5px;
	height: 70px;
	border: 1px solid #CCCCCC;
	vertical-align: middle;
	padding: 2px;
}
.General_tabler{
	margin: 0px;
	padding: 0px;
}
.General_tabler th{
	margin: 0px;
	text-align: right;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.itemhistitle {
	padding-bottom: 5px;
	padding-top: 8px;
	font-weight: bold;
}
.tablenew
{
  	margin: 0px 20px 20px 20px;
}

.frame_box4 {
	height: 110px;
	width:948px; overflow:scroll;
	margin: 0px;
	font:11px/18px Arial, Helvetica, sans-serif;
}



.autonew{
	overflow-x: hidden;
	overflow-y: auto;	
	width: 984px;
	height:340px;

}
.dhtmlgoodies_aTab_new740{
	height: 300px;
	width: 740px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #919B9C;
	border-bottom-color: #919B9C;
	border-left-color: #919B9C;
	margin: 0px;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-color: #919B9C;
}
.dhtmlgoodies_aTab_new900{
	height: 300px;
	width: 940px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #919B9C;
	border-bottom-color: #919B9C;
	border-left-color: #919B9C;
	margin: 0px;
	float: left;
	border-top-width: 1px;
	border-top-color: #919B9C;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

#selectvalue{
	float: left;
	width:400px;
}
.selectvalueo{
	float: left;
	font-weight: bold;
	width:350px;
	padding-left: 50px;
}
.selectvaluet{
	padding-left: 86px;
	float: left;
	width:316px;
}
.filetxt{
	margin-left: 2px;
}
.price{
	background: url(../images/input.jpg) repeat-x left top;
	height: 16px;
	border: 1px solid #A7AAB9;
	color: #666666;
    font:11px/15px Arial, Helvetica, sans-serif;
	margin:0px 2px;
	padding: 0px 3px;
	text-align: right;	

}
.extend_new{
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 850px;
	
}
.extend{
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 700px;
	
}
.extend_line{
	margin: 0px;
	float: left;
	height: auto;
	width: 850px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.extend_l {
	margin: 0px;
	float: left;
	height: auto;
	width: 30px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.extend_r {
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 670px;
}
.extnd_rt {
	margin: 0px;
	float: left;
	height: auto;
	width: 670px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-weight: bold;
}
.extnd_an{
	margin: 0px;
	float: left;
	height: auto;
	width: 850px;
	padding: 0px;
}
.extnd_ant{
	margin: 0px;
	float: left;
	height: auto;
	width: 820px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 30px;
}
.sequence_select{
	margin: 0px;
	float: left;
	height: auto;
	width: 850px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.css_b{
	font-weight: bold;   
}
.css_blue_b{
	font-weight: bold;
	color: #003399;    	
}
.extend_title {
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 700px;
	font-weight: bold;
}

.general_box {
	font-weight: bold;
	margin: 5px;
	height: 70px;
	border: 1px solid #CCCCCC;
	vertical-align: middle;
	padding: 2px;
}
.button_box_new {
	text-align: center;
	font:11px/18px Arial, Helvetica, sans-serif;
	width:920px;
	position: absolute;
	bottom: 10px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
}

.button_box_new1 {
	text-align: center;
	font:11px/18px Arial, Helvetica, sans-serif;
	width:920px;
	margin: 0px;
	padding: 0px;
	float: left;

}
.style_botton_ship{
	background: url(../images/ship_anlu.jpg) no-repeat left top;
	height: 29px;
	width: 108px;
	text-align: center;
	font-size: 12px;
	color: #6A84A7;
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
}
.style_botton_ship_grey{
	height: 42px;
	width: 108px;
	text-align: center;
	font-size: 12px;
	color: #616267;
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background: url(../images/ship_grey.jpg)  no-repeat left top;
}
.style_botton_ship_blue{
	height: 42px;
	width: 108px;
	text-align: left;
	font-size: 12px;
	color: #6A84A7;
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background: url(../images/ship_blue.jpg)  no-repeat left top;
}

.hidlayer1 {
	font-size: 12px;
	position: absolute;
	z-index: 9999;
	left: 20%;
	top: 20%;
	display:none;
	height: 200px;
	width: 200px;
}

.more1{
	margin: 0px;
	padding: 0px;
	float: left;
	display:none;
	width: 510px;
	height: auto;
	}
	
.more2{
	margin: 0px;
	padding: 0px;
	float: left;
	display:block;
	width: 510px;
	height: auto;
	}
.shipkuang{
	padding: 2px;
	border: 1px solid #cccccc;
	margin: 0px;
	float: left;
	height: 340px;
}

 .search_input_ship {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	margin:0px;
	height: 44px;
	width: 94px;
	border-style: none;
	cursor: pointer;
	background: url(../images/input_searchbg_ship.jpg) no-repeat 0px 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
}
 .search_input_ship_a {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #990000;
	margin:0px;
	height: 44px;
	width: 94px;
	border-style: none;
	cursor: pointer;
	background: url(../images/input_searchbg_shipa.jpg) no-repeat 0px 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#table11 tr td table tr td strong {
	color: #000040;
}

.table_new tr th{
	font-weight: normal;	
}
.temperature{
   	font:9px Arial, Helvetica, sans-serif;
}
.small_b{
	Tahoma,Arial,Helvetica,Sans-serif;
	font-size: 10px;
}
.title_new1{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100px;	
}
.bu_new{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 700px;
	height: 40px;
	background-color: #9C6;
	text-align: center;
}
.bu_newa{
	padding: 0px;
	width: 400px;
	height: 40px;
	background-color: #0CC;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

 .search_inputa {
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	padding: 0px;
	height: 25px;
	width: 100px;
	border-style: none;cursor: pointer;
	background: url(../images/input_searchbg.jpg)  no-repeat 0px 3px;
}

.css_sup_b{
	vertical-align:super;
	font-weight: bold;
}
.oligo{
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 100%;	
}
.type-file-file{
	position:absolute;
	height:24px;
	filter:alpha(opacity:0);
	opacity: 0;
	width:200px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -200px;
	padding: 0px;
}
.zt{
    font-size:14px;
    color:#F00;}
    
    .search_input3_dis {
         font: 12px/18px "Lucida Grande", Arial, sans-serif;
         color: #bbbbbb;
         text-shadow:#e6e6e6 1px 1px 0px !important;
         font-weight:inherit;
         margin:1px;
         padding: 0px;
         height: 25px;
         width: 170px;
         border-style: none;cursor: pointer;
         background: url(../images/input_searchbg3_dis.jpg)  no-repeat 0px 3px;
}
 .search_input4_dis{
         font: 12px/18px "Lucida Grande", Arial, sans-serif;
         color: #bbbbbb;
         text-shadow:#e6e6e6 1px 1px 0px !important;
         margin:1px;
         padding: 0px;
         height: 25px;
         width: 200px;
         border-style: none;cursor: pointer;
         background: url(../images/input_searchbg4_dis.gif)  no-repeat 0px 3px;
}

.search_input_dis {
         font: 12px/18px "Lucida Grande", Arial, sans-serif;
         color: #bbbbbb;
         text-shadow:#e6e6e6 1px 1px 0px !important;
         margin:1px;
         padding: 0px;
         height: 25px;
         width: 100px;
         border-style: none;cursor: pointer;
         background: url(../images/input_searchbg_dis.jpg)  no-repeat 0px 3px;
}

.search_input1_dis {
         font: 12px/18px "Lucida Grande", Arial, sans-serif;
         color: #bbbbbb;
         text-shadow:#e6e6e6 1px 1px 0px !important;
         margin:1px;
         padding: 0px;
         height: 25px;
         width: 120px;
         border-style: none;
         cursor: pointer;
         background: url(../images/input_searchbg2_dis.jpg) no-repeat 0px 3px;
         display:inline;
}


.search_input2_dis {
         font: 12px/18px "Lucida Grande", Arial, sans-serif;
         color: #bbbbbb;
         text-shadow:#e6e6e6 1px 1px 0px !important;
         margin:1px;
         padding: 0px;
         height: 25px;
         width: 140px;
         border-style: none;cursor: pointer;
         background: url(../images/input_searchbg2_dis.gif)  no-repeat 0px 3px;
}
    
