.tr_hover {
	background-color: #D1F1FA;
}

.tr_click {
	background-color: #84E5FF;
}
.tr_click td{
  background-color:#84E5FF;
}



.tr_del {
	background-color: #E6E6E6;
}

.tr_ {
	background-color: #E6E6E6;
}